@model CGPACalculatorApp.Models.PostStudentReq

@{
    ViewData["Title"] = "Add Student";
}

<div class="container">
    <h2 class="text-center">Add New Details</h2>
    <div class="w-75 mx-auto">
        <form method="post">
            <div class="form-group mb-2">
                <label class="form-label">Name</label>
                <input class="form-control" type="text" asp-for="Name" />
            </div>
            <div class="form-group mb-2">
                <label class="form-label">Department</label>
                <input class="form-control" type="text" asp-for="Department" />
            </div>
            <div class="form-group mb-2">
                <label class="form-label">Session</label>
                <input class="form-control" type="text" asp-for="Session" />
            </div>
            <div class="form-group mb-2">
                <label class="form-label">Semester</label>
                <input class="form-control" type="text" asp-for="Semester" />
            </div>
            <div class="form-group mb-2">
                <label class="form-label">GPA</label>
                <input class="form-control" type="text" asp-for="GPA" />
            </div>
            <dib class=" d-grid col-6 mx-auto mt-3">
                <button class="btn btn-success" type="submit">Save</button>
            </dib>
        </form>
    </div>
</div>