@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn-dark" asp-controller="Product" asp-for="Index">View All Products</a>
</div>
