@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the <span class="fw-bold">Product Inventory</span> Application</h1>
    <hr />
    <a class="btn btn-dark btn-lg mt-5" asp-controller="Product" asp-for="Index">View Dashboard</a>
</div>
